body {
  margin: 10px;
  background: #0A539C;
  height:100%;
  overflow:hidden;
}


#content {
  position:absolute;
  top:0px;
  width:100%;
  height:100%;
  text-align:center;
  overflow:auto;
  padding:20px;
}

#footer {
  position:absolute;
  bottom: 0px;
  width:100%;
}

h1 {
  display: block;
  padding: 25px;
  color: white;
  font: bold 5em Arial, sans-serif;
  font-size: 200%;
}

h3 {
  color: white;
  font: bold 1em Arial, sans-serif;
}


canvas {
  transition: all 0.2s ease-in-out;
  border-radius:2px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

canvas:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


textarea {
  box-shadow 10px 10px 10px black;
  background-color:black;
  color:white;
  opacity:0.1;
  transition:0.2s opacity ease-in-out;

  display:block;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}

textarea:hover {
  opacity:1.0;
}

/********  keyboard  ****************/

#keyboard_translation {
  position:absolute;
  width:96px;
  left:10px;
  top:64px;
}

#keyboard_mode {
  position:absolute;
  width:96px;
  left:116px;
  top:64px;
}

#keyboard_rotation {
  position:absolute;
  width:96px;
  right:10px;
  top:64px;
}

#keyboard_speed {
  position:absolute;
  width:50px;
  right:116px;
  top:64px;
}

#keyboard_rotation, #keyboard_translation, #keyboard_speed, #keyboard_mode {
  display:flex;
  flex-wrap:wrap;
  margin:0px;
  padding:0px;
  border:1px solid;
}

.KEY {
  vertical-align: middle;
  line-height:30px;
  transition: background-color 0.1s ease-in-out;
  min-width:30px;
  height:30px;
  border:1px solid;
  text-align:center;
  display:inline-block;
  background-color:#AAD;
  margin:0px;
  padding:0px;
  flex:1;
}

.keyboard_title {
  width:100%;
  margin:0px;
  min-height:32px;
  padding:0px;
  text-align:center;
  background-color:white;
  border: 1px solid;
  vertical-align: middle;
  text-align:center;
  line-height:30px;
}

#task_counter {
  transition:0.1s width ease-in-out;
  margin:10px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding:10px;
}
